body {
    
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(88, 177, 177);
    font-size: 16px;
    background-color: beige;


}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(135, 0, 254);
    font-size: 26px;


}

img {
    width: auto;
    height: auto;
    float: right;
    margin: 0 0 16px 16px;
}



.wrapper {
    width: 800px;
    margin: 16px auto;
}

a {
    color: sandybrown;
}

a:hover {
    color: sandybrown;
}

a:visited {
    color: rgb(198, 19, 171);
}

a:active {
    color: rgb(0, 255, 55);
}

p {
    /*text-align: justify;*/
}

/* Media query - jos koko on alle 820px */
@media (max-width: 820px) {
   
    img {
        float: none;
        width: 100%;
        margin: 16px 0 16px 0;
    }

    .wrapper {
        width: 92%;
    }

}

@media (max-width: 450px) {

    img {
        display: none;
    }

}
